# 默认镜像注册中心，默认是ccr.ccs.tencentyun.com
DEFAULT_REGISTRY=ccr.ccs.tencentyun.com
# 默认镜像命名空间，默认是vnimy
DEFAULT_NAMESPACE=vnimy

# -------------------------------
#           基础镜像信息
# -------------------------------

# base镜像的Python版本
BASE_PYTHON_VERSION=3.14.2
# base镜像的nodejs版本
BASE_NODE_VERSION=24.13.0
# base镜像版本标签
BASE_VERSION=3.14-24.13

# Frappe和ERPNext的主版本，默认是version-15
DEFAULT_MAIN_VERSION=version-15
# 默认frappe项目地址
DEFAULT_FRAPPE_REPO=https://gitee.com/mirrors/frappe.git
# 默认erpnext项目地址
DEFAULT_ERPNEXT_REPO=https://gitee.com/mirrors/erpnext.git
# 默认erpnext_chinese项目地址
DEFAULT_ERPNEXT_CHINESE_REPO=https://gitee.com/yuzelin/erpnext_chinese.git
# 默认erpnext_oob项目地址
DEFAULT_ERPNEXT_OOB_REPO=https://gitee.com/yuzelin/erpnext_oob.git

# -------------------------------
#          自定义镜像信息
# -------------------------------

# 自定义镜像主版本，构建自定义app镜像时会基于该版本erpnext镜像添加自定义app
DEFAULT_CUSTOM_MAIN_VERSION=version-15.240306
# 自定义镜像名，build custom命令构建使用的镜像名称
DEFAULT_CUSTOM_IMAGE_NAME=erp